<body>
    <form action="http://localhost:3000/register" method="POST">
        <label for="username"> Username:
            <input type="text" id="username" name="username" value="" required>
        </label>
        <label for="password"> Password:
            <input type="password" id="password" name="password" value="" required>
        </label>
        <input type="submit" value="Register">
    </form>
</body>